Repository mustapha-ghlissi/react-native-otp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run check

feat: setup github actions
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: release 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: fix input style prop typing
  example/App.tsx
  src/components/OTP.types.ts
  src/index.d.ts
Due: prettier --write, npm run check

chore: release 1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: release 1.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: update lib
  example/package-lock.json
  example/package.json
  lib/typescript/components/OTP.types.d.ts
  lib/typescript/components/OTP.types.d.ts.map
  lib/typescript/index.d.ts
Due: prettier --write, npm run check

chore: release 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: fix ci build step
  .github/workflows/release.yml
  .gitignore
  example/App.tsx
  example/package-lock.json
  example/package.json
  package.json
  src/components/style.ts
Due: prettier --write, npm run check

feat: add outline color, replace fillColor by filledOtpColor, add filledColor props
  README.md
  example/App.tsx
  src/components/OTP.tsx
  src/components/OTP.types.ts
  src/index.d.ts
Due: prettier --write, npm run check

chore: release 1.3.0
  CHANGELOG.md
  lib/commonjs/components/OTP.js
  lib/commonjs/components/OTP.js.map
  lib/commonjs/components/style.js
  lib/commonjs/components/style.js.map
  lib/module/components/OTP.js
  lib/module/components/OTP.js.map
  lib/module/components/style.js
  lib/module/components/style.js.map
  lib/typescript/components/OTP.d.ts.map
  lib/typescript/components/OTP.types.d.ts
  lib/typescript/components/OTP.types.d.ts.map
  lib/typescript/components/style.d.ts
  lib/typescript/components/style.d.ts.map
  lib/typescript/index.d.ts
  package-lock.json
  package.json
Due: npm run lint, prettier --write, npm run check

docs: update the doc
  README.md
  demo/demo.gif
  screenshots/screen-1.jpg
  screenshots/screen-2.jpg
  screenshots/screen-3.jpg
  screenshots/screen-4.jpg
  screenshots/screen-5.jpg
Due: none

chore: release 1.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  npm run lint: any of: **/*.js
  prettier --write: (any of: **/*.js) or (any of: **/*.{ts,tsx})
  npm run check: any of: **/*.{ts,tsx}
